@model FinalProject.Models.TankPageModel
@{
    ViewBag.Title = "Tanks";
}
<h1 class="role"><strong>Tanks</strong></h1>
<body>
    <style>
        img {
            border: 3px solid #ffffff
        }

        body {
            background-color: deepskyblue
        }
    </style>
</body>

<main aria-labelledby="Tank">
    <div class="row">
        @foreach (var item in Model.tankPageItems)
        {
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                @if (!string.IsNullOrWhiteSpace(item.HeroImage))
                {
                    <span>
                        <img class="images" src=@($"/Images/Tanks/{item.HeroImage}.png") />
                    </span>
                }
                <h2 id="gettingStartedTitle">@item.HeroName</h2>
                <p><strong>Overview:</strong> @item.HeroOverview</p>
                <p><strong>Origin Story:</strong> @item.HeroOrigin</p>
            </section>
        }
    </div>
</main>
<!--Images and hero descriptions from https://overwatch.blizzard.com/en-us/heroes/-->
<!--Code by Wesley Rickter-->