html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.mainLogo {
    text-align: center;
    height: 220px;
    width: 390px;
}
.logoSmall {
    height: 50px ;
    width: 50px ;
}
.images {
    height: 175px;
    width: 175px;
    background-color: lightblue;
    padding-bottom: 6px;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
    background-color: #1e2129;
}
.role {
    text-align: center;
    font-size: 64px;
    font-family: Bahnschrift;
}
.card-img-top {
    background-color: lightblue;
    border: 4px solid #ffffff;
}
.heroName {
    font-family: Verdana;
    color: black;
}
p.overview {
    font-family: Verdana;
}
p.originStory {
    font-family: Verdana;
}